{#def base_url="/" #}

<a
  {{ attrs.render(
    class="
      group flex items-center text-zinc-400
      opacity-90 hover:opacity-100
    ",
    href=base_url
) }}>
  <span class="block w-8 h-8 rounded-lg border border-current"></span>
  {% if nav.page.url != "/index" -%}
  <span class="
    ml-2 whitespace-nowrap leading-none
    text-base font-semibold
    hidden lg:block
  ">
    Awesome
  </span>
  {%- endif %}
</a>
