<footer {{ attrs.render(
  class="
    content py-5 text-xs
    sm:flex justify-center
    bg-zinc-900 text-zinc-400
  ",
) }}>
  <div class="mb-4 sm:mb-0 text-center">
    <p class="mb-1"><Copyright /></p>
    <p>Created with
      <a
        href="https://github.com/jpsca/ClayDocs"
        class="font-semibold hover:text-zinc-100"
      >ClayDocs</a></p>
  </div>
</div>
</footer>
