{#def title="" #}
{#css Page.css #}

<Layout title={title} description={meta.get('description', '')}>
  <NavBar />
  <div class="
    content pb-16 z-10
    max-w-[88rem] mx-auto
    flex justify-between
  ">
    <SidebarGlobal class="hidden lg:block" />
    <main class="Page pt-10 mx-auto w-full max-w-[78ch]">
      <div class="prose prose-zinc dark:prose-invert max-w-full">
        {{ content }}
      </div>
      <PrevNext
        class="mt-16 w-full"
        curr={nav.page}
        prev={nav.prev_page}
        next={nav.next_page}
      />
    </main>
    <SidebarLocal class="hidden xl:block" />
  </div>
  <Menu class="lg:hidden" />
</Layout>
