{#def target, active=None, tag="button" #}
{#js tab.js #}

{#% set active = attrs.has_class("active") if active == None else bool(active) %#}
{% do attrs.add_class("active") if active else attrs.remove_class("active") %}

{% if tag == "button" %}{% do attrs.setdefault(type="button") %}{% endif %}

<{{ tag }} {{ attrs.render(
    class="UITab",
    role="tab",
    aria_selected="true" if active else "false",
    aria_controls=target,
    tabindex="0" if active else "-1",
) }}>{{ content }}</{{ tag }}>
