{#def base_url="/" #}

<a
  {{ attrs.render(
    class="
      Logo
      group flex items-center text-zinc-400
      opacity-90 hover:opacity-100
      whitespace-nowrap leading-none
      text-base font-semibold
    ",
    href=base_url
) }}>
  <span class="block w-8 h-8 rounded-lg border border-current"></span>
  <span class="ml-2">
    Awesome
  </span>
</a>
