{% if nav.page.url == "/" -%}
<a
  class="hover:text-accent dark:hover:text-accent-darker"
  href="{{ nav.next_page.url }}"
>Docs</a>
{%- endif %}
<a
  href="#"
  class="hover:text-accent dark:hover:text-accent-darker"
>Blog</a>
<a
  title="Source code"
  href="#"
  class="hover:text-accent dark:hover:text-accent-darker"
>Source code</a>
