{% do attrs.add_classes("DarkSwitch bg") %}

{% do attrs.setdefault("title", "Toggles light & dark mode") %}

<button {{ attrs.render() }}
  class="
    bg-none
    border-0 p-0
    aspect-square
    rounded-full
    touch-manipulation
    outline-offset-4
  "
  type="button"
  aria-label="auto"
  aria-live="polite"
  style="inline-size:2em; block-size:2em; -webkit-tap-highlight-color:transparent;"
  onclick="javascript:document.documentElement.classList.toggle('dark');"
>
  <svg
    class="sun-and-moon group"
    aria-hidden="true"
    stroke-linecap="round"
    style="inline-size:100%; block-size:100%;"
    width="24" height="24"
    viewBox="0 0 24 24"
  >
    <circle
      class="sun
        origin-center
        transform-gpu
        stroke-transparent
        fill-gray-600
        dark:fill-gray-400
        group-hover:fill-gray-800
        dark:group-hover:fill-gray-200
        scale-100
        dark:scale-125
        dark:motion-safe:transition-[transform,250ms,ease-3]
        motion-safe:transition-[transform,500ms,ease-elastic-3]
      "
      cx="12" cy="12" r="6"
      mask="url(#moon-mask)"
    ></circle>
    <g
      class="sun-beams
        origin-center
        transform-gpu
        stroke-2
        stroke-gray-600
        group-hover:stroke-gray-800
        dark:opacity-0
        dark:rotate-[-25deg]
        motion-safe:transition-[transform,500ms,ease-elastic-3]
        motion-safe:transition-[opacity,500ms,ease-3]
        dark:motion-safe:duration-150
        "
    >
      <line x1="12" y1="1" x2="12" y2="3" />
      <line x1="12" y1="21" x2="12" y2="23" />
      <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
      <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
      <line x1="1" y1="12" x2="3" y2="12" />
      <line x1="21" y1="12" x2="23" y2="12" />
      <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
      <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
    </g>
    <mask
      class="moon
        origin-center
        fill-gray-600
        group-hover:fill-gray-800
      "
      id="moon-mask"
    >
      <rect x="0" y="0" width="100%" height="100%" fill="white" />
      <circle
        class="
          transform-gpu
          dark:translate-x-[-7px]
          motion-safe:transition-[transform,250ms,ease-out-5]
          dark:motion-safe:duration-500
          dark:motion-safe:delay-[250ms]
        "
        cx="24" cy="10" r="6"
      ></circle>
    </mask>
  </svg>
</button>
