<footer class="text-sm leading-6 mt-16 py-8 px-4 mb-16 border-t border-zinc-200 dark:border-zinc-200/5">
  <div class="sm:flex justify-between text-zinc-500 ">
    <div class="mb-6 sm:mb-0 sm:flex">
      <p>Copyright © 2022 or whatever</p>
    </div>
  </div>
</footer>
