
{% do attrs.setdefault("title", "Show table of contents") %}
{% do attrs.add(
  class="
    ThemeSwitch
    group
    flex
    justify-center
    items-center
    p-2
    text-sm
    font-semibold
    rounded
    hover:shadow-sm
    appearance-none
    cursor-pointer
    touch-manipulation
    whitespace-nowrap

    disabled:cursor-default
    disabled:outline-none
    focus:outline-sky-500
    focus:outline-offset-1

    bg-transparent
    hover:bg-slate-400/10
    dark:hover:bg-white-400/10
    active:bg-slate-200/10

    border
    border-transparent
    hover:border-slate-200
    active:border-slate-100
    dark:hover:border-slate-600
    dark:active:border-slate-700

    text-slate-500
    hover:text-slate-600
    dark:text-slate-400
    dark:hover:text-slate-300
  "
) %}

<button type="button" {{ attrs.render() }}>
  <svg width="24" height="24" class="mr-1">
    <path d="M5 6h14M5 12h14M5 18h14" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
  </svg>
  <span class="hidden sm:inline-block">
    Table of Contents
  </span>
</button>
