<div
  class="
    w-full
    backdrop-blur-sm
    bg-white/60
    dark:bg-transparent
    active:bg-white/90
    bg-clip-border
    lg:z-50
    lg:border-b
    lg:border-zinc-900/10
    dark:border-zinc-50/[0.06]
    px-4
    py-2
    flex
    items-center
    justify-center
    "
  >
  <Hamburger class="p-2 lg:hidden" />
  <ThemeSwitch class="p-2 ml-auto" />
  <GitHub class="p-2 ml-6" title="This project on GitHub" />
</div>
