<div class="w-full backdrop-blur-sm bg-white/60 bg-clip-border transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06]  dark:bg-transparent p-4 flex items-center">
  Header

  <DarkSwitch class="ml-auto text-4xl" />
</div>
