{#js toggle.js #}

{% do attrs.set(
  id="menu",
  class="
    group
    fixed
    inset-0
    z-50
    overflow-scroll
    overscroll-contain
    pointer-events-none
    open:pointer-events-auto
  ",
) %}

<div {{ attrs.render() }}>
  <div
    class="
      backdrop
      fixed
      inset-0
      transition-all
      bg-black/0
      group-open:bg-black/20
      dark:bg-white/0
      group-open:dark:bg-white/20
      backdrop-blur-none
      group-open:backdrop-blur-sm
    "
    data-toggle="#menu|[open]"
  ></div>

  <div class="
    p-6
    w-96
    max-w-full
    fixed
    top-0
    bottom-0
    left-0
    -translate-x-full
    group-open:translate-x-0
    transition-transform
    justify-between
    border-r
    pointer-events-auto
    dark:border-r-dark-text
    bg-light-bg
    dark:bg-zinc-900
  ">
    <button
      type="button"
      class="
        absolute
        top-0
        right-1
        text-2xl
        py-2 px-3
        rounded-lg
        opacity-80
        hover:opacity-100
        focus:opacity-100
        cursor-pointer
      "
      aria-label="Close"
      data-toggle="#menu|[open]"
    >&times;</button>

    <span class="logo block h-10 w-32 rounded-lg bg-gray-200"></span>

    <nav class="mt-6 flex flex-col space-y-1">
      <Toc toc={nav.toc} page_url={nav.page.url} />
    </nav>
  </div>
</div>
