{#def title="" #}

<Layout title={title} class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900">
  <PageToc page_toc={nav.page_toc} />
  <div class="relative z-20 prose prose-slate mt-8 dark:prose-dark">
  {{ content }}
  </div>
</Layout>
