{#def page_toc #}

{% do attrs.set(
  class="sticky z-20 top-2 w-60 py-8 overflow-y-auto scrollbar-hide"
) %}
{% set max_depth = 2 %}
{% set margins = ["ml-4", "ml-8"] %}

{% macro render_item(url, title, children) %}
<li>
  <a href="{{ url }}"
    class="
      block py-1 font-medium
      hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-zinc-300
    [&.active]:text-sky-500 [&.active]:hover:text-sky-500 [&.active]:dark:text-sky-400 [&.active]:dark:hover:text-sky-400
    "
  >{{ title }}</a>
</li>
{% endmacro %}

{% macro render_sub_item(url, title, depth=0) %}
<li class="{{ margins[depth] }}">
  <a href="{{ url }}"
    class="
      group flex items-start py-1
      hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-zinc-300
    [&.active]:text-sky-500 [&.active]:hover:text-sky-500 [&.active]:dark:text-sky-400 [&.active]:dark:hover:text-sky-400
    "
  >
    <ArrowRight class="w-auto h-1.5 mt-[0.6em] mr-2 text-zinc-400 overflow-visible group-hover:text-zinc-600 dark:text-zinc-600 dark:group-hover:text-zinc-500" />
    {{ title }}
  </a>
</li>
{% endmacro %}

{% macro render_sub_items(pages, depth=0) %}
{%- for url, title, children in pages %}
  {{ render_sub_item(url, title, depth) }}
  {% if depth < max_depth -%}
    {{ render_sub_items(children, depth=depth + 1) }}
  {%- endif %}
{%- endfor %}
{% endmacro %}

{% macro render_items(page_toc) %}
{%- for url, title, children in page_toc %}
  {{ render_item(url, title, children) }}
  {{ render_sub_items(children) }}
{%- endfor %}
{% endmacro %}

<div {{ attrs.render() }}>
  <div class="px-8">
    <h5 class="text-zinc-900 font-semibold mb-4 text-sm leading-6 dark:text-zinc-100 uppercase">On this page</h5>
    <ul class="text-zinc-700 text-sm leading-6">
      {{ render_items(page_toc) }}
    </ul>
  </div>
</div>
