{#def url, title #}


<li {{ attrs.render() }}>
  <a
    href="{{ url }}"
    class="
      block py-1 font-medium
      hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300
    [&.active]:text-sky-500 [&.active]:hover:text-sky-500 [&.active]:dark:text-sky-400 [&.active]:dark:hover:text-sky-400
    "
  >
    {{ title }}
  </a>
</li>
