{#def url, title #}

<li {{ attrs.render() }}>
  <a
    href="{{ url }}"
    class="
      group flex items-start py-1
      hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300
    [&.active]:text-sky-500 [&.active]:hover:text-sky-500 [&.active]:dark:text-sky-400 [&.active]:dark:hover:text-sky-400
    "
  >
    <Bullet class="mr-2 text-slate-400 overflow-visible group-hover:text-slate-600 dark:text-slate-600 dark:group-hover:text-slate-500" />
    {{ title }}
  </a>
</li>
