<div class="group fixed inset-0 z-50" open >
  <div
    class="
      backdrop
      group-open:fixed
      inset-0
      bg-black/20
      backdrop-blur-sm
  "></div>

  <div class="
    px-4
    py-6
    w-96
    max-w-full
    fixed
    top-0
    bottom-0
    left-0
    justify-between
    border-r
    bg-white
  ">
    <span class="logo block h-10 w-32 rounded-lg bg-gray-200"></span>

    <nav aria-label="Main menu" class="mt-6 flex flex-col space-y-1">
      <a
        href="#"
        class="
          flex
          items-center
          rounded-lg
          bg-gray-100
          px-4
          py-2
          text-gray-700
        "
      >Home</a>
      <Toc toc={nav.toc} page_url={nav.page.url} />
    </nav>
  </div>
</div>
