{% do attrs.set(
  class="
    Sidebar
    sticky
    z-20
    overflow-y-auto
    scrollbar-hide
    text-sm
    top-2
    w-60
    py-8
  ",
) %}

<div {{ attrs.render() }}>
  <nav class="flex flex-col space-y-1">
    <Toc toc={nav.toc} page_url={nav.page.url} />
  </nav>
</div>
