{# def toc, page_url=None #}

{% macro render_item(url, title, depth) %}
<li>
  <a href="{{ url }}"
    class="
      block
      border-l-2
      py-1 pl-4 -ml-px
    {%- if page_url == url %}
      border-current
      font-semibold
      text-light-accent
      dark:text-dark-accent
    {%- else %}
      {{ 'border-zinc-200' if depth == 0 else 'border-transparent'}}
      hover:border-zinc-200
      dark:hover:border-zinc-500
      hover:text-zinc-900
      dark:text-zinc-400
      dark:hover:text-zinc-300
    {%- endif %}"
  >
    {{ title }}
  </a>
</li>
{% endmacro %}

{% macro render_section(url, title, children, depth=0) %}
<li class="mt-8">
  <h5 class="mb-3 font-semibold text-zinc-900 dark:text-zinc-200 uppercase">
    {{ title }}
  </h5>
  {{ render_children(children, depth) }}
</li>
{% endmacro %}

{% macro render_children(children, depth=0) %}
{% if depth -%}
  <ul class="border-l-2 border-zinc-100 dark:border-zinc-800">
{%- else -%}
  <ul>
{%- endif %}
  {%- for url, title, children in children %}
    {% if children -%}
      {{ render_section(url, title, children, depth=depth+1) }}
    {%- else -%}
      {{ render_item(url, title, depth) }}
    {%- endif %}
  {%- endfor %}
</ul>
{% endmacro %}

{{ render_children(toc) }}
