{#def title="" #}

<t.Layout title={title} description={meta.get('description', '')}>
  <t.NavBar />
  <main class="m-0 p-0 max-w-full font-sans">
    <div class="prose">
      {{ content }}
    </div>
  </main>
  <t.Menu />
  <t.Footer />
  {% if nav.search -%}
    <t.SearchDialog id="search-dialog" />
  {%- endif %}
</t.Layout>
