{#def title="" #}
<theme.Layout title={title} description={meta.get('description', '')}>
  <theme.NavBar />
  <div class="px-4 sm:px-6 lg:px-8 pb-16 z-10 mx-auto flex justify-between
  ">
    <theme.SidebarGlobal class="hidden lg:block" />
    <main class="lg:pl-8 pt-10 2xl:mx-10 w-full max-w-full">
      <div class="prose">
        {{ content }}
      </div>
      <theme.PrevNext
        class="mt-16 w-full"
        curr={nav.page}
        prev={nav.prev_page}
        next={nav.next_page}
      />
    </main>
    <theme.SidebarLocal class="hidden xl:block pl-8" />
  </div>
  <theme.Menu />
  <theme.Footer />
  {% if nav.search -%}
    <theme.SearchDialog id="search-dialog" />
  {%- endif %}
</theme.Layout>
