<div {{ attrs.render(
  class="
    sticky top-0 tall:top-16
    w-60 h-screen overflow-y-auto scrollbar-thin text-sm
  ",
) }}>
  <nav class="flex flex-col pt-10 pb-20">
    <Toc toc={nav.toc} page={nav.page} />
  </nav>
</div>
