<div
  class="
    backdrop-blur-sm
    bg-clip-border
    bg-white/60
    dark:bg-transparent
    active:bg-white/90
    content
    flex
    h-16
    items-center
    w-full
    z-20
    "
  >
  <Hamburger class="ml-[-5px] mr-4 lg:hidden" />
  <Logo class="mr-auto" />
  <nav class="
    hidden
    lg:flex
    mr-3
    text-sm
    [&>*]:p-3
    [&>*]:mr-2
    [&>*]:inline-block
    [&>*]:font-medium
    [&>*]:text-zinc-600
    [&>*]:dark:text-zinc-300
  ">
    <a href="/guide"
      class="hover:text-zinc-900 dark:hover:text-white"
    >Documentation</a>
    <a href="https://github.com/"
      class="hover:text-zinc-900 dark:hover:text-white"
    >Blog</a>
  </nav>
  <ThemeSwitch />
  <GitHub class="ml-5" title="Source code" />
</div>
