{#def sep="+", symbols=True #}

{% set symbol_map = {
  "alt": "⎇",
  "command": "⌘",
  "cmd": "⌘",
  "control": "⌃",
  "ctrl": "⌃",
  "meta": "◆",
  "option": "⌥",
  "opt": "⌥",
  "shift": "⇧",
  "super" :"❖",
  "windows": "⊞",
  "win": "⊞",
  "down": "↓",
  "left": "←",
  "right": "→",
  "up": "↑",
  "arrow_down": "↓",
  "arrow_left": "←",
  "arrow_right": "→",
  "arrow_up": "↑",
  "backspace": "⌫",
  "back": "⌫",
  "bksp": "⌫",
  "caps_lock": "⇪",
  "menu": "☰",
  "delete": "⌦",
  "del": "⌦",
  "escape": "⎋",
  "esc": "⎋",
  "print_screen": "⎙",
  "print": "⎙",
  "prtsc": "⎙",
  "tab": "⇥",
  "enter": "⏎",
  "return": "⏎",
} %}

<span class="not-prose inline-flex items-center text-sm font-mono font-medium leading-0">
{% for key in content.split(sep) -%}
  {% set symbol = symbol_map.get(underscore(key)) -%}

  <kbd class="border border-zinc-400 rounded flex items-center bg-zinc-100 dark:bg-zinc-500 py-[0.1em] px-2">
    {%- if symbols and symbol %}<span class="block mr-1 align-text-bottom">{{ symbol }}</span>{% endif -%}
    {{ key|trim }}
  </kbd>

  {%- if not loop.last %}+{% endif %}
{%- endfor %}
</span>
