{#def sep="+", symbols=True #}

{% set symbol_map = {
  "arrow_left": "&#x2190;",
  "left": "&#x2190;",
  "arrow-up": "&#x2191;",
  "up": "&#x2191;",
  "arrow-right": "&#x2192;",
  "right": "&#x2192;",
  "arrow-down": "&#x2193;",
  "down": "&#x2193;",

  "alt": "&#x2387;",
  "opt": "&#x2387;",
  "option": "&#x2387;",
  "back": "&#x232B;",
  "backspace": "&#x232B;",
  "bksp": "&#x232B;",
  "caps-lock": "&#x21EA;",
  "cmd": "&#x2318;",
  "command": "&#x2318;",
  "control": "⌃",
  "ctrl": "⌃",
  "enter": "&#x23CE;",
  "return": "&#x23CE;",
  "esc": "&#x238B;",
  "escape": "&#x238B;",
  "menu": "&#x2630;",
  "meta": "&#x25C6;",
  "print-screen": "&#x2399;",
  "print": "&#x2399;",
  "prtsc": "&#x2399;",
  "shift": "&#x21E7;",
  "super" :"&#x2756;",
  "tab": "&#x21E5;",
  "win": "&#x229E;",
  "windows": "&#x229E;",
} %}

{% set insert_plus = joiner("+") %}

<span class="inline-flex items-center font-mono font-medium text-[0.9em]">
{% for key in content.split(sep) -%}
  {%- set key = utils.underscore(key)|replace("_", "-") -%}
  {%- set symbol = symbol_map.get(key) -%}
  {{ insert_plus() }}<kbd class="inline-block border rounded border-white dark:border-black bg-zinc-100 dark:bg-zinc-900 leading-tight px-1 mx-1 shadow-[0_0_2px_0_#000]">
    {%- if symbols and symbol -%}{{ symbol|safe }} {% endif -%}
    {{ key|trim }}</kbd>
{%- endfor %}
</span>
