{#def title="", type="info", open=True #}

<details {{ attrs.render(
  class="group relative border rounded overflow-hidden",
  open=open,
) }}>
  <summary class="flex items-center py-2 pl-10 pr-6">
    <Icon type={type} class="w-7 h-7 absolute top-3 left-3 pointer-events-none" />
    {{ title or type.title() }}
    <ArrowRight class="ml-auto rotate-90 group-open:-rotate-90 transition-transform" />
  </summary>
  <div class="py-2 pl-10 pr-6">{{content}}</div>
</details>
