{#def title="", type="", open=True #}

{% set colors = {
  "note": "bg-sky-100 border-sky-200 text-sky-900",
  "info": "bg-sky-100 border-sky-200 text-sky-900",
  "tip": "bg-yellow-100 border-yellow-200 text-yellow-800",
  "alert": "bg-orange-100 border-orange-200 text-orange-800",
  "warning": "bg-orange-100 border-orange-200 text-orange-800",
  "danger": "bg-rose-100 border-rose-200 text-rose-900",
  "error": "bg-rose-100 border-rose-200 text-rose-800",
  "internal": "bg-stone-200 border-stone-300 text-stone-900",
  "todo": "bg-zinc-100 border-zinc-300 text-zinc-800",
} %}

{% set type = type if type in colors else "" %}
{% do attrs.set(class=colors.get(type, "bg-zinc-100 border-zinc-300 text-zinc-800")) %}

<details {{ attrs.render(
  class="group relative border rounded overflow-hidden text-base bg-opacity-90 shadow-sm shadow-zinc-400",
  open=open,
) }}>
  <summary class="flex items-center font-bold h-12 px-6 cursor-pointer group-open:pt-2
    {% if type -%}
      pl-14 group-open:pl-16 group-open:h-20 group-open:sm:h-12
    {%- endif -%}
  ">
    {% if type -%}
    <Icon type={type}
      class="absolute pointer-events-none opacity-70
      top-2 left-4 w-7 h-7 group-open:top-4 group-open:w-9 group-open:h-9" />
    {%- endif %}
    {{ title or type.upper() or "Note" }}
    <ArrowRight class="ml-auto rotate-90 group-open:-rotate-90 transition-transform" />
  </summary>
  <div class="pb-5 px-6
    {% if type -%}
      sm:pl-16
    {%- endif -%}
  ">{{content}}</div>
</details>
