{#def title="" #}
{#css Page.css #}

<Layout title={title}>
  <HeaderMain />
  <div class="
    content md:pr-0 pb-16 z-10
    max-w-[88rem] min-h-screen mx-auto
    flex justify-between
  ">
    <GlobalSidebar class="hidden lg:block" />
    <main class="Page px-5 pt-10 mx-auto w-full max-w-[84ch]">
      <div class="prose prose-zinc dark:prose-invert max-w-full">
        {{ content }}
      </div>
      <PrevNext
        class="mt-16 w-full"
        curr={nav.page}
        prev={nav.prev_page}
        next={nav.next_page}
      />
    </main>
    <LocalSidebar class="hidden xl:block" />
  </div>
  <Menu class="lg:hidden" />
</Layout>
