{#def home=False #}
<section class="
  relative z-20
  flex items-center w-full h-16
  backdrop-blur-sm bg-white/60 dark:bg-zinc-800/60
  tall:sticky tall:top-0
  border-b border-default-color
  focus:outline-accent dark:focus:outline-accent-darker
  pl-[max(0.75rem,env(safe-area-inset-left))]
  pr-[max(0.75rem,env(safe-area-inset-right))]
  sm:px-6 lg:px-8
">
  <Hamburger class="mr-4 lg:hidden" />
  <Logo class="mr-auto" base_url={nav.base_url} />
  <nav class="hidden md:flex items-center pr-6 mr-4 border-r border-default-color">
    <NavLinks home={home} />
  </nav>
  <LangSwitch class="mr-3" languages={nav.languages} lang={nav.lang} />
  <SearchBtn />
</section>
