{#def target, open=False #}

{% do attrs.set(
  class="relative px-5 py-2 w-full z-10
  text-sm text-center select-none
  border border-zinc-600
  bg-zinc-700 text-zinc-400
  open:z-20 open:border-b-transparent
  open:text-white
  open:bg-zinc-800
  disabled:cursor-not-allowed disabled:z-0
  disabled:text-zinc-400 disabled:bg-zinc-300",
  target=target,
  open=open,
) %}

<ui.Tab __attrs={attrs}>{{ content }}</ui.Tab>
